@import "tailwindcss/preflight";
@tailwind utilities;

:root {
  --color-primary: white;
  --color-secondary: #2C3E50;
  --color-tertiary: #2ECC71;
  --color-quaternary: #F4D03F;
}

body {
 @apply flex min-h-screen flex-col bg-primary font-primary text-black;
}

footer {
  @apply mt-auto font-secondary;
}

.bleed {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  padding: 0 1rem;
}
