@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #2ECC71;
  --color-secondary: #2C3E50;
  --color-tertiary: #F4D03F;
  --color-background: #FFFFFF;
}

body {
  background-color: var(--color-background);
  color: var(--color-secondary);
  font-family: system-ui, sans-serif;
}
